includes:
    - vendor/larastan/larastan/extension.neon


parameters:
    level: 9
    paths:
        - app
    excludePaths:
        - app/Services/Isp/MikrotikService.php  # Exclude until routeros-api-php package is installed
    scanDirectories:
        - vendor/laravel/framework/src
    bootstrapFiles:
        - vendor/autoload.php


